@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.boards-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .board {
        display: flex;
        flex-direction: column;
        width: 350px;
        max-height: 600px;
        background-color: #ecedef;
        border-radius: 10px;
        border: 1px solid #eee;
        box-shadow: 0 5px 5px #ccc;
        padding: 5px 0 0;
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

        .board-title {
            font-size: 20px;
            color: #323a42;
            margin: 20px;
        }

        .board-content {
            height: 100%;
            min-height: 150px;
            border: 3px dashed transparent;
            border-radius: 10px;
            padding: 10px;
            transition: border 0.15s linear;

            .task {
                position: relative;
                height: auto;
                background-color: #fff;
                border-radius: 3px;
                box-shadow: 0 5px 5px #ccc;
                padding: 20px 10px;
                margin: 10px 0;

                .task-tag {
                    color: #fff;
                    background-color: green;
                    border-radius: 3px;
                    padding: 3px;
                    margin-right: 7px;
                }

                .task-title {
                    color: #323a42;
                    font-size: 18px;
                    margin: 12px 0;
                }

                .task-btn-delete {
                    position: absolute;
                    top: 17px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                    background-color: transparent;
                    background-image: url("../img/cross.svg");
                    background-position: center center;
                    border: none;
                    cursor: pointer;
                }
            }

            &--hover {
                border-color: #ccc;
            }
        }

        .board-button-new-task {
            width: 100%;
            color: #706f80;
            font-size: 18px;
            background-color: transparent;
            border: none;
            border-radius: 0 0 8px 8px;
            padding: 10px 0;
            transition: background 0.2s linear;
            cursor: pointer;

            &:before {
                content: "";
                display: inline-block;
                vertical-align: baseline;
                width: 18px;
                height: 18px;
                background-image: url("../img/plus.svg");
                background-size: contain;
                margin: 0 10px -2px 0;
            }

            &:hover {
                background-color: #ddd;
            }
        }
    }
}
