@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  padding: 20px 30px;
}
header .header-btn {
  color: #706f80;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: background 0.2s linear;
  cursor: pointer;
}
header .header-btn:hover {
  background-color: #eee;
}
header .add-board-btn:before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 14px;
  height: 14px;
  background-image: url("../img/plus.svg");
  background-size: contain;
  margin: 0 10px -2px 0;
}

.boards-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 80px 0 0 30px;
}
.boards-wrapper .board {
  width: 280px;
  min-width: 280px;
  background-color: #ecedef;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 5px 5px #ccc;
  padding: 5px 0 0;
  margin-right: 40px;
}
.boards-wrapper .board:last-child {
  margin-right: 0;
}
.boards-wrapper .board:hover > .board-delete-btn {
  opacity: 1;
}
.boards-wrapper .board .board-delete-btn {
  display: inline-block;
  background-image: url(../img/cross.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  border: none;
  border-radius: 50%;
  vertical-align: top;
  padding: 14px;
  margin: 10px;
  opacity: 0;
  cursor: pointer;
  transition: 0.2s linear;
}
.boards-wrapper .board .board-delete-btn:hover {
  background-color: #ddd;
}
.boards-wrapper .board .board-title {
  display: inline-block;
  width: 75%;
  font-size: 16px;
  color: #323a42;
  border-radius: 4px;
  padding: 8px 4px;
  margin: 10px;
  cursor: pointer;
  transition: background 0.15s linear;
}
.boards-wrapper .board .board-title:hover {
  background-color: #ddd;
}
.boards-wrapper .board .board-title-input {
  display: inline-block;
  width: 75%;
  max-height: 200px;
  color: #323a42;
  font-weight: 700;
  outline: none;
  border-radius: 4px;
  border: none;
  padding: 8px 4px;
  margin: 10px;
  resize: vertical;
}
.boards-wrapper .board .board-title-input:focus {
  background-color: #ddd;
}
.boards-wrapper .board .board-content {
  height: 100%;
  min-height: 150px;
  border: 3px dashed transparent;
  border-radius: 10px;
  padding: 8px;
  transition: border 0.15s linear;
}
.boards-wrapper .board .board-content .task {
  position: relative;
  height: auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 5px #ccc;
  padding: 20px 10px;
  margin: 10px 0;
}
.boards-wrapper .board .board-content .task .task-tag {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  padding: 3px;
  margin-right: 7px;
}
.boards-wrapper .board .board-content .task .options {
  position: absolute;
  top: 55px;
  left: 10px;
  width: 90%;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 5px #ccc;
  z-index: 2;
}
.boards-wrapper .board .board-content .task .options ul li {
  list-style: none;
  font-size: 14px;
  color: #fff;
  padding: 10px 8px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
}
.boards-wrapper .board .board-content .task .options ul li:hover {
  background-color: #eee;
}
.boards-wrapper .board .board-content .task .task-title {
  width: 100%;
  display: inline-block;
  color: #323a42;
  font-size: 16px;
  word-break: break-all;
  border-radius: 4px;
  padding: 8px 4px;
  margin: 12px 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.boards-wrapper .board .board-content .task .task-title:hover {
  background-color: #eee;
}
.boards-wrapper .board .board-content .task .task-textarea {
  display: block;
  width: 100%;
  max-height: 200px;
  color: #323a42;
  font-weight: 700;
  outline: none;
  border-radius: 4px;
  border: none;
  padding: 8px 4px;
  margin: 12px 0;
  resize: vertical;
}
.boards-wrapper .board .board-content .task .task-textarea:focus {
  background-color: #eee;
}
.boards-wrapper .board .board-content .task .task-btn-delete {
  position: absolute;
  top: 18px;
  right: 10px;
  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s linear;
}
.boards-wrapper .board .board-content .task .task-btn-delete:hover {
  background-color: #eee;
}
.boards-wrapper .board .board-content .task:hover > .task-btn-delete {
  opacity: 1;
}
.boards-wrapper .board .board-content--hover {
  border-color: #ccc;
}
.boards-wrapper .board .board-button-new-task {
  width: 100%;
  color: #706f80;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-radius: 0 0 8px 8px;
  padding: 10px 0;
  transition: background 0.2s linear;
  cursor: pointer;
}
.boards-wrapper .board .board-button-new-task:before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 14px;
  height: 14px;
  background-image: url("../img/plus.svg");
  background-size: contain;
  margin: 0 10px -2px 0;
}
.boards-wrapper .board .board-button-new-task:hover {
  background-color: #ddd;
}

.tags {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 360px;
  min-width: 320px;
  opacity: 0;
  background-color: #fff;
  border-left: 1px solid #ccc;
  padding: 0 12px;
  box-shadow: 0 5px 5px #ccc;
  transform: translateX(100%);
  overflow-y: auto;
  animation: slideOut 0.2s forwards;
}
.tags .tags-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.tags .tags-header h4 {
  color: #323a42;
  font-size: 22px;
}
.tags .tags-header .tags-close {
  color: #706f80;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: background 0.2s linear;
  cursor: pointer;
}
.tags .tags-header .tags-close:hover {
  background-color: #eee;
}
.tags .tags-container .tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.tags .tags-container .tag .tag-input-text {
  flex: 1;
  color: #323a42;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 8px 6px;
}
.tags .tags-container .tag .tag-input-color {
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.tags .tags-container .tag .tag-delete-btn {
  color: #706f80;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: background 0.2s linear;
  cursor: pointer;
  background-color: #eee;
  padding: 8px;
}
.tags .tags-container .tag .tag-delete-btn:hover {
  background-color: #eee;
}
.tags .tags-container .tag .tag-delete-btn:hover {
  background-color: #ddd;
}
.tags .form-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.tags .form-add .tag-input {
  flex: 1;
  min-width: 250px;
  color: #323a42;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 8px 6px;
}
.tags .form-add .color-input {
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.tags .form-add .tag-add-btn {
  color: #706f80;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: background 0.2s linear;
  cursor: pointer;
  flex: 1;
  background-color: #eee;
  margin-top: 5px;
}
.tags .form-add .tag-add-btn:hover {
  background-color: #eee;
}
.tags .form-add .tag-add-btn:hover {
  background-color: #ddd;
}

.tags-active {
  animation: slideIn 0.2s forwards;
  transform: translateX(0);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

/*# sourceMappingURL=style.css.map */
